.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: White;
}
a{
    text-decoration: none;
    color: beige;
}
.header-list {
    
    display: flex;
}
.header-item {
    display: inline-block;
    padding: 0.7em 1em;
}
.header-item1 {
    display: inline-block;
    padding: 0.7em 1em;
    padding-top: 17px;
    font-size: 20px;
}
.home-button{
    padding: 1em;
    color: #2D2D2D;
}
.login-button{
    padding: 0.7em 1em;
    cursor: pointer;
    border: none;
    border-radius: 0.8em;
    color: white;
    background-color: #3366FF;
}
.register-button{
    padding: 0.7em 1em;
    cursor: pointer;
    border: none;
    border-radius: 0.8em;
    color: white;
    background-color: #3366FF;
}
#container{
    display: flex;
    background-color: #F7F5FD;
    height: 600px;
    align-items: flex-start;
    padding: 70px 100px 70px 100px;
}

#get-started{
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(231, 88, 37);
    padding: 20px 40px 20px 35px ;
}
#text{
    width: 50%;
    height: 600px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#image{
    width: 50%;
    height: 600px;
}
#text-1{
    align-items: flex-start;
    font-size: 100px;
    text-align: left;
    margin:35px 15px 15px 35px;
    
}
#text-2{
    color: rgb(114, 114, 114);
    font-size: 30px;
    margin:0px 15px 15px 35px;
}
#get-started{
    
    margin:0px 15px 15px 35px;
}
#image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#header-image{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 114px;
}
#video{
    display: flex;
    padding: 70px 258px 70px 257px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: #F2FAF8;
}
iframe{
    flex-shrink: 0;
    border-radius: 10px;
}
.logos{
    display: flex;
    height: 200px;
    padding: 0px 172.909px 0px 172px;
    justify-content: space-between;
    align-items: center;
}
.features{
    display: flex;
    height: 500px;
    padding: 116px 90px;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
}
.features-item{
    color: black;
}
.features-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.features-list li:nth-child(2) {
    font-weight: bolder; 
    margin-bottom: 1em;
}
.features-list li:first-child{
    margin-bottom: 1em;
}